#menuButton {
    -fx-font-weight: 700;
    -fx-background-color: #eeeeee;
	-fx-base: rgba(255,255,255,0.5);
	-fx-focus-color: transparent;
	-fx-border-width: 0 1 3 1;
	-fx-border-color: white #eeeeee white #eeeeee;
}

#menuButton:selected {
    -fx-background-color: derive(firebrick, 95%);
	-fx-border-width: 0 1 3 1;
	-fx-border-color: white #eeeeee firebrick #eeeeee;
}

#menuButton:hover {
    -fx-background-color: rgba(255,127,127,0.2);
	-fx-border-width: 0 1 3 1;
	-fx-border-color: white #eeeeee indianred #eeeeee;
}

#control {
    -fx-height: 30;
    -fx-min-height: 30;
    -fx-pref-height: 30;
    -fx-max-height: 30;
}

#context {
	-fx-background-color: transparent;
    -fx-background-insets: 0;
    -fx-padding: 1 3 1 3;
	-fx-text-box-border: transparent;
}